extends default

block content
  div.container(style=' border-radius:0.1em; background:rgb(10,100,200);text-align:center')
    each person in people
      div.person
        div.person-image(style=`background: url('/images/${person.imgSrc}') top center
        no-repeat; background-size: cover; border-radius:2em`)
        h2.person-name
          | #{person.firstname} #{person.lastname}
        a(href=`/profile?id=${person.id}`)
          | Ver Perfil
        div wwwwwwwwwwwww #{person.bio}



  div(style=' border-radius:0.1em; background:rgb(10,100,100);margin:5px auto;width:50%;text-align:center;')
    p Hello Pug! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus ex quas alias quidem 
      |consectetur adipisci corrupti perspiciatis numquam ipsum quia officia illo dicta deleniti facilis optio exercitationem minima, fugit atque.
    button(style='background:green:border:none;font-size:1em;') Click Me


  h1(style=' border-radius:0.1em; background:rgb(10,100,100);margin:5px auto;width:50%;text-align:center;') hola 
    | wwwwwwwwwwww wwwwwwwwwww wwwwwwwww ww w w
  p#pricipal wwwwwwwwwwwww

  div(style=' border-radius:0.1em; background:rgb(10,100,100);margin:5px auto;width:50%;text-align:center;') wwwwwww   


    ul
      li: a(href="#") wwwwwwwwww wwwwwwwwwwwwwwwwwwwwww
      li: a(href="#") wwwwwwwwww wwwwwwwwwww
      li: a(href="#") wwwwwwwwwwwww
      li: a(href="#") wwwwwwwwww ww   
      li: a(href="#") wwwwwwwwwww
      li: a(href="#") wwwwwwwwwwwwwwwwww

  #menu(style=' border-radius:0.1em; background:rgb(10,100,100);margin:5px auto;width:50%;text-align:center;') wwwwwwwwwwwwwwwwwwwwww